<html>
<head>
<meta charset="utf-8">
<title>Youtube Uploads</title>
<link rel="stylesheet" href="../lib/datatable/css/jquery.dataTables.css"/>
<style type="text/css" title="currentStyle">
	@import "../lib/datatable/css/jquery.dataTables.css";
	@import "../lib/datatable/css/TableTools.css";
</style>
</head>
<body>
	<h2>Youtube Uploads</h2>
	
	<div>
	<input type="text" id="text-box" value="TheViralFeverVideos"/> <button id="button">Submit</button>
	</div>
	<div class="clearfix"></div>
	<div style="padding: 20px;">
	<table id="table" class="dataTable">
		<thead>
			<tr>
			<th style="width: 30px">#</th>
			<th>Video</th>
			<th style="width: 40px">Length</th>
			<th style="width: 140px">Published</th>
			<th style="width: 140px">Last Updated</th>
			<th style="width: 60px">Rating</th>
			<th style="width: 60px">Votes</th>
			<th style="width: 60px">Views</th>
			<th style="width: 120px">Popularity Index</th>
			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	</div>
	
	<div class="clearfix"></div>
	<!-- <div>
	<input type="text" id="text-box" value="TheViralFeverVideos"/> <button id="button">Submit</button>
	<div id="content">
	
	</div>
	</div> -->
	<script src="../lib/jquery-1.10.1.min.js"></script>
	<script src="../lib/datatable/js/jquery.dataTables.min.js"></script>
	<script src="../lib/datatable/js/ZeroClipboard.js"></script>
	<script src="../lib/datatable/js/TableTools.js"></script>
	<script src="../lib/date.js"></script>
	<script src="youtube.js"></script>
</body>
</html>