doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/datatable/css/jquery.dataTables.css')
    link(rel='stylesheet', href='/datatable/css/TableTools.css')
  body
    block content